body{
    background-color: bisque;
}


img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    display: block;
    margin: 0 auto 10px auto;
}

.card-estudiante {
    background-color: rgb(160, 153, 153);
    border-radius: 15px;
    box-shadow: 0 3px 10px #000;
}

.card-definitiva {
    background-color: rgb(160, 153, 153);
    border-radius: 15px;
    text-align: center;
    margin: 0px 500px;
}

.definitivas-resumen {
    background-color:aliceblue;
    border-radius: 15px;
}

.promedio-general{
    background-color:aliceblue;
    border-radius: 15px;
}