img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    display: block;
    margin: 0 auto 10px auto;
}

.card-estudiante {
    background-color: aqua;
    border-radius: 15px;
}

.card-resumen {
    background-color: aqua;
    border-radius: 15px;
    text-align: center;
}